@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

*{
    border:0;
    margin:0;
}

a{
    text-decoration:none;
    
}

.container{
    width:1170px;
    margin:auto;
}

.d-flex{
    display:flex;
}

.content-between{
    justify-content:space-between;
}

.bg{
    background-color: #273c66;
}
.align-item-center{
    align-items: center;
}
.btn{
    background-color: #21a7d0;
    display:inline-block;
    padding:15px 30px;
    color:white;
}

.text-white{
    color:white;
}

.topHeader i{
    padding:3px;
}


.top-left a,.top-right a{
    padding:15px 0px;
    display: inline-block;
    color:white;
}
.top-left a:first-of-type{
    padding:15px 0px;
    border-right:1px solid #374a71;
    padding-right:10px;
    margin-right:10px;
}
.top-right i{
    color:#21a7d0;
}
.applyNow{
    padding:0px 30px;
    margin-left:15px;
    background-color:#21a7d0;
}

/* Navigation */
.logo img{
    height:40px;
    width:220px;
}

.nevi{
    padding:30px 0px 0px 0px;
}

.nevi i{
    margin-right:10px;
}

.search i{
    border-right:#505050 solid 1px;
    padding-right:8px;
    margin-right:8px;
}

.navigation > ul li{
    list-style-type:none;
    margin-right: 40px;
}
.navigation ul li:first-child a{
    color:#21a7d0;
}
.nevi a,.nevi i{
    font-weight:bold;
    color:#505050;
    text-transform: uppercase;
}



.categories{
    margin:14px 0px 0px 60px;    
}

/* .categories a:hover .categories i{
    color:#21a7d0;
} */
.nav-icons{
    margin-top:14px;    
}
.cart-bar:last-child{
    height:3px;
    /* width:5px;     */
}

/* Dropdown */
.drop-down{
    position:relative;
    padding-bottom:40px;
}
/* .drow-down:hover .nevi a{
    color:#21a7d0;
} */
.drop-down a:before {
    content: '+';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-159%);
}

.drop-down:hover a:before{
    content: '-';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-170%);
}

.dropdown-items{
    width:240px;
    margin-top: 40px;
    position:absolute;
    padding:0;
    /* display:none; */
    transform:scaleY(0);
    opacity: 0;
    transition:1s;
    transform-origin: top;
    z-index:2;
}

.mainNav .drop-down:hover .dropdown-items{
    /* display:block; */
    transform:scaleY(1);
    opacity: 1;
}
.dropdown-items li{
    padding:15px 0px 15px 15px;
    margin-right:0px;
    background-color:#21a7d0;
}

.dropdown-items li:first-child{
    padding-top:25px;
}
.dropdown-items li:last-child{
    padding-bottom:25px;
}
.dropdown-items li a{
    color: white !important;
    text-transform: capitalize;
    font-weight: 600;
}

/* Mega Menus */
.mega-menu{
    position:absolute;
    left:-500%;
}
.menus{
min-width: 120px;
background-color: #21a7d0;

}
.mega-menu li{
    padding:15px 0px 15px 15px;
    margin-right: 0px!important;
    width: 168px;
}

.mega-menu li a{
    color: white !important;
    font-weight:300;
}
.mega-menu{
    transform:scaleY(0);
    opacity: 0;
    transition:1s;
    transform-origin: top;
    margin-top:40px;
    z-index: 2;
}
.mega-drop:hover .mega-menu{
    transform:scaleY(1);
    opacity: 1;
}


/* SLIDER */

.slider-wrapper{
    font-family: 'Nunito', sans-serif;
    height: 650px;
}
.slider{
    position:relative;
    height:650px;
}
.container.slider-inner{
    height:100%;
}


    /* Center the .slider-content-left vertically */
/* .slider .slider-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center; 
    vertical-align: middle;
    
} */

.slider img{
    z-index:-1;
    top:0;
    position:absolute;
    width:100%;
    height:100%;
    overflow: visible;
}

.slider-left-content h3{
    font-size:50px;
    color:white;
    font-weight:400;
}
.slider-left-content h1{
    font-size:75px;
    color:white;
    font-weight:600;
    margin-top:20px;
    margin-bottom:10px;
}
.slick-prev{
    left:20px;
    z-index: 2;
}
.slick-next{
    right:20px;
    z-index: 2;
}

.h-box {
    position: relative;
    width: 25%;
    height: 190px;
    overflow: hidden;
    color:white
}

.h-box img {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.h-box .box-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: grid;
    place-items: center;
    line-height: 45px;
    font-family: 'Nunito', sans-serif;
}


.h-box:before {
    content: '';
    position: absolute;
    background: #273c66eb;
    height: 100%;
    width: 100%;
}
.h-box:nth-child(2)::before{
    background-color: #10c1f7eb;
}
.h-box:nth-child(3)::before{
    background-color: #7915d7e0;
}
.h-box:nth-child(4)::before{
    background-color: #10c1f7eb;
}
.box-content i {
    font-size: 40px;
}

.box-content h3 {
    font-size: 25px;
}
/* Welcome */
section#welcome {
    margin-top: 100px;
}
.wel-left {
    background-image: url(image/about-intro-bg.jpg);
    height: 600px;
    max-width: 400px;
    border-radius:3px;
}

.about-intro {
    padding: 90px 40px;
        font-family: 'Nunito', sans-serif;
        color: white;
}

.about-intro h3 {
    color: #21a7d0;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    line-height: 50px;
}

.about-intro h2 {
    font-size: 36px;
}

.about-intro p{
    font-size: 20px;
    line-height: 30px;
    margin-top:20px;
}

.about-intro .btn{
    margin:50px 0px;
    border-radius: 3px;
}

.stat-box::before {
    content: '';
    background-color: #fbf8cc;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.stat-box:nth-child(2)::before{
    background-color: #e9fbd5;
}
.stat-box:nth-child(3)::before{
    background-color: #dcf1fd;
}
.stat-box {
    font-family: 'Rubik', sans-serif;
    position: relative;
    height: 150px;
    width: 225px;
    color: #122a58;
    margin-left:20px;
}

.stat-box .stat-box-content {
    top: 50%;
    left: 50%;
    display: grid;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    place-items: center;
}

.stat-box-content h2{
    font-size: 50px;
    font-weight: 700;
}
.stat-box-content h4{
    font-size: 16px;
    color:#505050;
    font-weight: 500;
}

.picture {
    margin-left: 20px;
    margin-top:50px;
}
.picture img {
    height: 340px;
}

#category{
    background-color: #f3f8f9;
    margin-top: 100px;
}

.cat-wrapper{
    padding:100px 0px;
}

.cat-item {
    font-family: 'Rubik', sans-serif;
    color:white;
    position: relative;
    width: 30%;
    height:360px;   
    overflow: hidden;
}

.cat-item:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(360deg, #122a58, transparent);
}
.cat-items-top .cat-item:first-child::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -3;
    background: linear-gradient(360deg, #f3f8f9, transparent);
}
.cat-items-top .cat-item:first-child{
    background-color: #f3f8f9;
    position: relative;
    z-index:1;
}
.cat-item-first{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width:100%;
}
.cat-items-top .cat-item:first-child h2{
color:#122a58;
font-size: 32px;
font-weight: 700;
line-height: 1.2;
margin-top: 10px;
}
.cat-items-top .cat-item:first-child h4{
color:#21a7d0;
font-size: 18px;
line-height: 28px;
font-weight: 500;
}

.cat-items-top{
    margin-bottom: 30px;
}

 

.cat-item img {
    position: absolute;
    width:100%;
    height: 100%;
    z-index:0;
}

.cat-item .title-part {
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 25px;
    transition: 1s;
    z-index:2;
}
.cat-item:hover .title-part{
    bottom:-40px;
    
}
.cat-item .overlay {
    position: absolute;
    z-index: 1;
    width: 285px;
    height: 270px;
    position: relative;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    transform: translateX(-50%) translateY(-50%) rotateY(-90deg);
    /* display: none;     */
}

.cat-item:hover .overlay{
    
    position: absolute;
    z-index: 1;
    width: 285px;
    height: 270px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateY(0deg);
}



.overlay .overlay-content{
    display: grid;
    place-items: center;
    top: 50%;
    left: 50%;
    position: absolute;
    width:80%;
    transform: translateX(-50%) translateY(-50%);

}

.overlay-content h4 {
    padding-bottom: 25px;
    font-size: 25px;
}
.overlay-content p {
    line-height:20px ;
}
.overlay a {
    color: white;    
    padding-top: 35px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.945);
}
.overlay::before {
    content: '';
    background-color: #273c66eb;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}
section#admission {
    height: 510px;
    overflow: hidden;
}
.admission-left,.admission-right{
    width:50%;
}
.admission-left {
    background-image: url(image/Category/left-bg.jpg);
    height: 100%;
    position: relative;
}
.admission-right {
    background-image: url(image/Category/right-bg.jpg);
    height: 100%;
    position: relative;
}

.admission-wrapper {
    height: 100%;
    color: white;
}

.admission-right h3{
    color:#122a58;
}

.left-admission-content {
    margin-left: 100px;
    font-size: xx-large;
    width: 299px;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}
.right-admission-content {
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);    
    position: absolute;    
    font-family: 'Nunito', sans-serif;
    width:520px;
}

.right-admission-content h3{
    font-size: 2.3em;
    padding-bottom: 10px;
}
.right-admission-content p{
    font-size: 1em;
    color:#505050;
    line-height: 22px;
    padding-bottom: 60px;
}

.left-admission-content i{
    border: 6px solid;
    border-radius: 50%;
    padding: 15px;
    margin-right: 5px;
}

.event-bg {
    width: 62.8%;
    height: 723px;
    background-color:#f3f8f9;
    right: 0;
    position: absolute;
    z-index: -1;
}

.event-box {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.event-box-content h3{
    font-size: 1.7em;
    color:#122a58;
}

.event-content {
    font-family: 'Nunito', sans-serif;
    padding-top: 70px;
    height: 652px;
    overflow: hidden;
}
.date::before {
    content: '';
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.date {
    position: relative;
    color: #122a58;
    margin-right: 50px;
    z-index: 1;
    
}

.date h2{
    font-size: 3em;
}

.date-content {
    padding: 5px 25px;
    display: grid;
    place-items: center;
}

.date-content h5{
    font-size: 1em;
    font-weight: 500;
}
.event-right h6 {
    margin-left: 50px;
    font-size: 1.1em;
    margin-top: 70px;
    color:#122a58;
}

.left-head h5 {
    color: cornflowerblue;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.left-head h2 {
    font-size: 2.3em;
    text-transform: capitalize;
    font-weight: 700;
    color: #122a58;
    margin-bottom: 35px;
}

.sub-content{
        padding: 100px 0px;
    }

#subsidary{
        background: #f3f8f9;
}

#quotes{
    font-family: 'Nunito', sans-serif;
    margin-top: 100px;
}
#quotes img{
    border-radius: 5px;
}

.left-quote{
    width:40%;
}

.left-quote .btn{
    margin-top:30px
}

.left-quote-content h2 {
    color: #273c66;
}

.left-quote-content {
    margin-top: 10px;
}

.left-quote-content p {
    margin-top: 10px;
    color:#505050
}

.right-quote{
    margin-left: 60px;
}

.right-content-item {
    padding: 30px;
    background-color: #f3f8f9;
    margin-bottom: 40px;
    border-radius: 5px;
}

.right-text-content {
    margin: 0px 22px;
}

.right-text-content .desc {
    font-size: 23px;
    color: #273c66;
}
.right-text-content h4 {
    font-size: 20px;
    color: #273c66;
    margin-top: 15px;
}
.right-text-content h6 {
    color: #505050;
    font-size: 16px;
    font-weight: 500;
}

q::before {font-weight: 900;}
q::after {font-weight: 900;}


.news-content {
    width: 30%;
}
.news-head{
    padding: 70px 0px;
    margin: auto;
    text-align: center}

    .news-head h3 {
        color: #21a7d0;
    }
    
    .news-head h2 {
        font-weight: 700;
        font-size: 2rem;
    }
.news{
    border-bottom: 1px solid gray;
    padding:10px 20px;
}

section#news-events {
    background-color: #f3f8f9;
    font-family: 'Nunito', sans-serif;
    padding-bottom:200px;
}

.news-head {
    margin: auto;
}
.news-content-wrapper{
    display:flex;
    justify-content:space-between;
}
.news-content{
    background-color: white;
    
}
.news-content img {
    width: 100%;
}

.news-publisher {
    padding: 15px;
    color:gray;    
}
.news-publisher i{
    padding: 3px;
    margin-left:3px;   
}
.news h2 {
    color: #273c66;
    margin-bottom: 15px;
}
.news-supli h6 {
    padding: 3px 30px;
    font-size: 13px;
}

.news-supli {
    margin: 10px 20px;
}

.news-supli a{
    color:#505050
}
.news-supli a:hover{
    color:#21a7d0
}

#footer{
    background-image: url(/image/News/footer-bg.png);
    background-size:cover;
    height:640px;
    font-family: 'Nunito', sans-serif;
}

.subscribe-invitation {
    display: flex;
    position: absolute;
    background-color: #21a7d0ed;
    padding: 40px;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    top: -60px;
    left: 0%;
}
.subscribe-head h2{
    font-size: 2rem;
    text-transform: capitalize;
}
.subscribe-head h4{
 
    text-transform: uppercase;
}
.subscribe-head{
    width:40%;
}
.email input {
    padding: 20px;
    border: none;
    width: 340px;
}
.email .sbmt {
    background-color: #122a58;
    padding: 16px 35px;
}
.footer-wrapper {
    position: relative;
}
.footer-cover{
    background-color: #122a58f2;
    height: 100%;
    color:white;
}
.footer-cover a{
    color:white;
}
.bottom-info{
   position:absolute;
   bottom:-10%;
   display: flex;
   justify-content: space-between;
   width:100%;
   color:white;
   border-top:1px solid #80808052;
   padding-top:45px;
    align-items: center;
}

.bottom-info img{
    width:150px;
    height:30px;
}
.address {
    width: 25%;
}


.link-items ul{
    color:#21a7d0ed;
}
.link-items ul li{
  padding:10px 0px;
}

.option-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 540px;
}

.add-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 190px;
}

.add-wrapper i{
    margin-right: 3px;
}

.link-options{
    width:100%;
}

.link-items h2{
    margin-left:30px
}

